
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
  background-color:   rgb(249,249,249);
}
.list-group-item {
    position: relative;
}

.list-group-item .fas {
    opacity: 0;
    transition: opacity 0.3s;
}

.list-group-item:hover .fas {
    opacity: 1;
}